body{
    font-family: var(--font-family);
    color:var(--defalt-color);
    font-weight: var(--normal);
    font-size:16px;
    letter-spacing: 0.15rem;
    margin:0 10%;
}
:root{
    --font-family:"Zen Kaku Gothic New", sans-serif;
    --eng-family:"Fira Sans", sans-serif;
    --normal:500;
    --bold:700;
    --defalt-color:#222;
    --font-size:1rem;
    --large-size:2.5rem;
}
a{
    text-decoration: none;
}
p,a{
    font-weight: var(--normal);
}
header{
    margin:1.5rem 0 0;
    display: flex;
    justify-content: flex-end;
}
header nav ul{
    display: flex;
    gap:3rem;
}
header nav ul a{
    font-size:1em;
    font-weight: var(--bold);
    font-family: var(--eng-family);
}
.index-billboard{
    height: 50vh;
}
.index-billboard h1{
    font-size:var(--large-size);
    padding-top: 20vh;
    margin-bottom:0.5rem;
}
.index-billboard h2{
    margin-bottom:2.5rem;
}
main section h2{
    font-size:var(--large-size);
    font-family: var(--eng-family);
}
